# ASP.NET Core
bin/
obj/
out/
!.nuget/packages.config
appsettings.*.json

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.userprefs
*.csproj.user
*.sln.docstates

# NuGet
*.nupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Windows-specific files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# JetBrains Rider
.idea/
*.sln.iml

# Node.js (if using for front-end assets)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs and temporary files
*.log
*.bak
*.swp
*.lock
*.cache
*.tmp

# Coverage Reports
coverage/
*.coverage
*.coveragexml

# Resharper
_ReSharper*/
*.DotSettings.user

# Azure Pipelines
!.azure-pipelines.yml
.ionide/
temp/
